@model IEnumerable<Shops.Models.ShopViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">

        <p>
            <button type="button" class="btn btn-primary " id="addNewShop"><span class="glyphicon glyphicon-plus"></span>Add new shop</button>
        </p>
        <table class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.ShopName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShopAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkingTime)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.ShopName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShopAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkingTime)
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-success" data-browse-shopid="@item.ShopId" data-shopname="@item.ShopName">Browse products</button>
                            <button type="button" class="btn btn-default" data-addproduct-shopid="@item.ShopId">Add product</button>

                        </div>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            $('[data-browse-shopid]').on('click', function () {
                var shopName = $(this).attr('data-shopname');
                var shopId = $(this).attr('data-browse-shopid');
                $.ajax({
                    type: 'POST',
                    url: '/Products/GetShopProducts',
                    data: { 'id': shopId},
                    success: function (data) {
                        $("#myModalLabel").html(shopName);
                        $(".modal-body").html(data);
                        $('#myModal').modal();

                    }
                });
                
                

            });
            $('[data-addproduct-shopid]').on('click', function () {
                var shopId = $(this).attr('data-addproduct-shopid');
                window.location.replace("/Products/AddProduct/" + shopId);
            });
            $('#addNewShop').on('click', function () {
                window.location.replace("/Shops/AddNewShop");
            });
        });
    </script>
}